<div class="text-center">
	<div class="col-xs-12" ng-if="!unitHistory">
		<button 
			class="btn btn-primary"
			ng-repeat="unit in recentUnits"
			ng-click="getUnitHistory(unit.id)">
			{{unit.name}}
		</button>
	</div>
	
	<button ng-click="scan()" class="btn btn-btn-info">Quét mã mới</button>

	<div class="col-xs-12" ng-if="unitHistory">
		<p>Đơn vị: {{unitHistory.name}}</p>
		<div class="col-xs-12" ng-repeat="nhatky in unitHistory.nhatky" style="text-align: left;">
			<p>--------------</p>
			<p>Ngày: {{nhatky.ngay}}</p>
			<p>Hành động: {{nhatky.hd}}</p>
			<p>Ghi chú: {{nhatky.ghichu}}</p>
			<a ng-if="nhatky.hinh" ng-click="showImage(nhatky.hinh)">
				<img ng-src="{{baseURL + '/' + nhatky.hinh}}" style="width: 100%;"/>
			</a>
			<!-- <button ng-if="nhatky.hinh" ng-click="showImage(nhatky.hinh)">Xem hình</button> -->
		</div>
		<div style="height: 100px;" class="col-xs-12 ng-scope"></div>
	</div>
</div>