<div class="text-center">
	<div class="col-xs-12">
		<div class="col-xs-12">
			<h2>Đơn vị: {{unit.name}}</h2>
		</div>
		
		<div class="col-xs-12">
			<a ng-repeat="action in actions" class="btn btn-primary" style="margin: 5;" 
				ng-click="chooseAcction(action)">{{action.actionName}}</a>
		</div>
		
		
		<div ng-show="action"> <!-- only show if they choose action -->
			<p>Hành động được chọn: {{action.text}}</p>
			<div ng-show="showImage">
				<img id="capturedImage" style="height:200px;width:200px"></img>
			</div>
			<button ng-click="captureImage()">Chọn ảnh</button>
			<br/>
			<label>Ghi chú:</label><input ng-model="note"></input>
			<button ng-click="addHistory()" class="btn btn-success">Thêm nhật ký</button>
		</div>
	</div>
</div>